*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(53, 53, 53);
}
.logo img{
    width: 120px;
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.jcs{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 1250px;
    margin: 0 auto;
}
header a{
    line-height: 70px;
    font-weight: 600;
    padding: 0 15px;
    border-radius: 10px;
}
.mhm{
    position: relative;
    display: flex;
    align-items: center;
}
.hover{
    background-color: rgba(128,128,128,0.3);
    position: absolute;
    z-index: -1;
    opacity: 0;
    border-radius: 5px;
    transition: all 0.6s;
    min-height: 30px;
}
.mhm a:nth-child(1):hover ~ .hover{
    opacity: 1;
    left: 0px;
    width: 90px;
}
.mhm a:nth-child(2):hover ~ .hover{
    opacity: 1;
    left: 90px;
    width: 90px;
}
.mhm a:nth-child(3):hover ~ .hover{
    opacity: 1;
    left: 180px;
    width: 90px;
}
.mhm a:nth-child(4):hover ~ .hover{
    opacity: 1;
    left: 270px;
    width: 90px;
}
.mhm a:nth-child(5):hover ~ .hover{
    opacity: 1;
    left: 360px;
    width: 110px;
}
.mhm a:nth-child(6):hover ~ .hover{
    opacity: 1;
    left: 470px;
    width: 110px;
}
.mhe{
    position: relative;
    display: flex;
    align-items: center;
}
.mhe a:nth-child(1):hover ~ .hover{
    opacity: 1;
    left: 0px;
    width: 70px;
}
.mhe a:nth-child(2):hover ~ .hover{
    opacity: 1;
    left: 70px;
    width: 85px;
}
.mhe a:nth-child(3):hover ~ .hover{
    opacity: 1;
    left: 155px;
    width: 75px;
    
}

.sec{
    min-width: 100%;
    min-height: 100vh;
}
.sec-1{
    background: url(../img/M3-Homepage-Desktop-LHD.jpg) no-repeat ;
    background-size: cover;
    background-position: center ;
}
.sec-2{
    background: url(../img/Desktop-ModelY.jpg) no-repeat ;
    background-size: cover;
    background-position: center ;
}
.sec-3{
    background: url(../img/Homepage-Model-S-Desktop-LHD.jpg) no-repeat ;
    background-size: cover;
    background-position: center ;
}
.sec-4{
    background: url(../img/Homepage-Model-X-Desktop-LHD.jpg) no-repeat ;
    background-size: cover;
    background-position: center ;
}
.sec-5{
    background: url(../img/_25-HP-SolarPanels-D.jpg) no-repeat ;
    background-size: cover;
    background-position: center ;
}
.sec-6{
    background: url(../img/Homepage-SolarRoof-Desktop-Global.webp) no-repeat ;
    background-size: cover;
    background-position: center ;
}
.sec-7{
    background: url(../img/accesories.jpg) no-repeat ;
    background-size: cover;
    background-position: center ;
}
.row{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 100%;
    text-align: center;
}
.empty-1{
    min-width: 50vw;
    min-height: 15vh;
}
.empty-2{
    min-width: 50vw;
    min-height: 45vh;
}
.text-1-1{
    font-size: 50px;
    font-weight: 600;
    animation: up 2s ease-out ;
}
.text-1-2{
    text-decoration: underline;
    text-underline-position: under;
    animation: up 3s ease-out ;
}
.text-1-2:hover{
    text-decoration-thickness: 2px;
}
.bt{
    display: inline-block;
    padding: 10px;
    margin: 40px 10px;
    border-radius: 5px;
    font-weight: 600;
    width: 300px;
}
.bt-1{
    background-color: rgb(53, 53, 53);
    animation: bt-1 2s ease-in;
}
.bt-1 a{
    color: #fff;
}
.bt-2{
    background-color: #fff;
    animation: bt-2 2s ease-in;
}
.arrow{
    font-size: 2em;
    animation: updown 1.5s linear infinite ;
}
@keyframes updown{
    0%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(5px);
    }
    40%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(5px);
    }
    80%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(5px);
    }
}
@keyframes up{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    40%{
        transform: translateY(30px);
        opacity: 0;
    }
    60%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes bt-1{
    0%{
        transform: translateX(-20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }    
}
@keyframes bt-2{
    0%{
        transform: translateX(20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }    
}
.ft-list ul li{
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width:1250px) {
    .mhm{
        display: none;
    }
    .mhe a:nth-child(1){
        display: none;
    }
    .mhe a:nth-child(2){
        display: none;
    }
}
@media screen and (max-width:800px) {
    .bt{
        width: 200px;
    }
    .ft-list ul li:nth-child(6){
        display: none;
    }
    .ft-list ul li:nth-child(7){
        display: none;
    }
    .ft-list ul li:nth-child(8){
        display: none;
    }
    .ft-list ul li{
        display: block;
        margin: 10px 0;
    }
}
@media screen and (max-width:600px) {
    .bt{
        width: 90vw;
        margin: 10px;
    }
}